<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>P4_Virtual_Tourist.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C9A594061C0BD8A7006347F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9A5941A1C0BD8A7006347F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C9A594251C0BD8A7006347F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
